services:
  golang1:
    build:
      context: .
      dockerfile: golang/Dockerfile
      args:
        VERSION: "1.25.5"
        CONTROLLER_GEN_VERSION: "v0.20.0"
      tags:
        - okteto/golang:1
        - okteto/golang:1.25
        - ghcr.io/okteto/golang:1
        - ghcr.io/okteto/golang:1.25

  golang1.24:
    build:
      context: .
      dockerfile: golang/Dockerfile
      args:
        VERSION: "1.24.11"
        CONTROLLER_GEN_VERSION: "v0.17.3"
        GOPLS_VERSION: "v0.20.0"
        DLV_VERSION: "v1.26.0"
      tags:
        - okteto/golang:1.24
        - ghcr.io/okteto/golang:1.24
