version: '3.7'

services:
  okteto:
    image: okteto/okteto:1.8.1
    build:
      context: .
      target: okteto
      dockerfile: bin/Dockerfile
  bin:
    image: okteto/bin:1.1.10
    build:
      context: .
      target: opensource
      dockerfile: bin/Dockerfile
  bin-cloud:
    image: okteto/bin:1.1.110-cloud
    build:
      context: .
      target: cloud
      dockerfile: bin/Dockerfile
  dotnetcore:
    image: okteto/dotnetcore:3
    build:
      context: .
      dockerfile: dotnetcore/Dockerfile
  golang:
    image: okteto/golang:1
    build:
      context: .
      dockerfile: golang/Dockerfile
  gradle:
    image: okteto/gradle:latest
    build:
      context: .
      dockerfile: gradle/Dockerfile
  maven:
    image: okteto/maven:latest
    build:
      context: .
      dockerfile: maven/Dockerfile
  node:
    image: okteto/node:10
    build:
      context: .
      dockerfile: node/Dockerfile
  openfaas:
    image: okteto/openfaas:golang
    build:
      context: .
      dockerfile: openfaas/Dockerfile
  python:
    image: okteto/python:3
    build:
      context: .
      dockerfile: python/Dockerfile
  ruby:
    image: okteto/ruby:2
    build:
      context: .
      dockerfile: ruby/Dockerfile
  php:
    image: okteto/php:7
    build:
      context: .
      dockerfile: php/Dockerfile
