version: '3.7'

services:
  python3:
    build:
      context: .
      dockerfile: python/Dockerfile
      args:
        VERSION: 3
      tags:
        - okteto/python:3
        - ghcr.io/okteto/python:3
  python2:
    build:
      context: .
      dockerfile: python/Dockerfile
      args:
        VERSION: 2
      tags:
        - okteto/python:2
        - ghcr.io/okteto/python:2
