version: "3.7"

services:
  golang1:
    build:
      context: .
      dockerfile: golang/Dockerfile
      args:
        VERSION: "1.24.9"
        CONTROLLER_GEN_VERSION: "v0.17.3"
      tags:
        - okteto/golang:1
        - ghcr.io/okteto/golang:1

  golang1.24:
    build:
      context: .
      dockerfile: golang/Dockerfile
      args:
        VERSION: "1.24.9"
        CONTROLLER_GEN_VERSION: "v0.17.3"
      tags:
        - okteto/golang:1.24
        - ghcr.io/okteto/golang:1.24

  golang1.23:
    build:
      context: .
      dockerfile: golang/Dockerfile
      args:
        VERSION: "1.23.12"
        # Need to override this because newer versions of gopls don't work with this golang version
        GOPLS_VERSION: "v0.17.1"
        # Need to override this because newer versions of controller-gen don't work with this golang version
        CONTROLLER_GEN_VERSION: "v0.16.5"
      tags:
        - okteto/golang:1.23
        - ghcr.io/okteto/golang:1.23

  golang1.22:
    build:
      context: .
      dockerfile: golang/Dockerfile
      args:
        VERSION: "1.22"
        # Need to override this because newer versions of gopls don't work with this golang version
        GOPLS_VERSION: "v0.16.1"

        # Need to override this because newer versions of controller-gen don't work with this golang version
        CONTROLLER_GEN_VERSION: "v0.16.5"
        # Need to override this because newer versions of AIR don't work with this golang version
        AIR_VERSION: "v1.52.3"
      tags:
        - okteto/golang:1.22
        - ghcr.io/okteto/golang:1.22
