version: '3.7'

services:
  dotnetcore6:
    build:
      context: .
      dockerfile: dotnetcore/Dockerfile
      args:
        VERSION: "6.0"
      tags:
        - okteto/dotnetcore:6
        - ghcr.io/okteto/dotnetcore:6
  dotnetcore8:
    build:
      context: .
      dockerfile: dotnetcore/Dockerfile
      args:
        VERSION: "8.0"
      tags:
        - okteto/dotnetcore:8
        - ghcr.io/okteto/dotnetcore:8

  
