version: '3.7'

services:
  golang1:
    image: okteto/golang:1
    build:
      context: .
      dockerfile: golang/Dockerfile
      args:
        VERSION: "1.21"

  golang1.21:
    image: okteto/golang:1.21
    build:
      context: .
      dockerfile: golang/Dockerfile
      args:
        VERSION: "1.21"

  golang1.20:
    image: okteto/golang:1.20
    build:
      context: .
      dockerfile: golang/Dockerfile
      args:
        VERSION: "1.20"

  golang1.19:
    image: okteto/golang:1.19
    build:
      context: .
      dockerfile: golang/Dockerfile
      args:
        VERSION:  "1.19"

  golang1.18:
    image: okteto/golang:1.18
    build:
      context: .
      dockerfile: golang/Dockerfile
      args:
        VERSION: "1.18"
