version: 2
jobs:
  build:
    docker:
      - image: okteto/golang-ci:1.17.11
    steps:
      - checkout
      - setup_remote_docker:
          version: "20.10.6"
      - run: 
          name: docker login
          command: echo $DOCKER_TOKEN | docker login -u $DOCKER_USERNAME --password-stdin
      - run: 
          name: build images
          command: make build

  push:
    docker:
      - image: okteto/golang-ci:1.17.11
    steps:
      - checkout
      - setup_remote_docker:
          version: "20.10.6"
      - run: 
          name: docker login
          command: echo $DOCKER_TOKEN | docker login -u $DOCKER_USERNAME --password-stdin
      - run: 
          name: build & push images
          command: make push

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - main
  push:
    jobs:
      - push:
          filters:
            branches:
              only:
                - main