name: CD

on:
  push:
    branches:
      - main

jobs:
  push:
    name: Push ${{ matrix.service }}
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        service: [dev, golang, node, php, python, ruby, java, dotnet, helm]
        include:
          - service: golang
            compose_file: docker-compose.golang.yml
            platforms: linux/amd64,linux/arm64
          - service: node
            compose_file: docker-compose.node.yml
            platforms: linux/amd64,linux/arm64
          - service: php
            compose_file: docker-compose.php.yml
            platforms: linux/amd64,linux/arm64
          - service: python
            compose_file: docker-compose.python.yml
            platforms: linux/amd64,linux/arm64
          - service: ruby
            compose_file: docker-compose.ruby.yml
            platforms: linux/amd64,linux/arm64
          - service: java
            compose_file: docker-compose.java.yml
            platforms: linux/amd64
          - service: dotnet
            compose_file: docker-compose.dotnet.yml
            platforms: linux/amd64
          - service: helm
            compose_file: docker-compose.helm.yml
            platforms: linux/amd64

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: |
          docker context create builders

      - name: Set up Docker Builder
        uses: docker/setup-buildx-action@v3
        with:
          version: latest
          install: true
          endpoint: builders

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64,amd64

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: "${{ secrets.DOCKER_USER }}"
          password: "${{ secrets.DOCKER_PASS }}"

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: "oktetobot"
          password: "${{ secrets.OKTETOBOT_GHCR_TOKEN }}"

      - name: Push ${{ matrix.service }}
        run: |
          docker buildx bake -f ${{ matrix.compose_file }} \
            --push \
            --set "*.platform=${{ matrix.platforms }}"
